Lab1: Write a Pandas program to create a dataframe from a dictionary and
 display it.

In [2]:
import pandas as pd

data = {
    'Math':[78,85,96,80,86],
    'English': [84, 94, 89, 83, 86],
    'Hindi': [86, 97, 96, 72, 83]
}

df = pd.DataFrame(data)


print(df)

   Math  English  Hindi
0    78       84     86
1    85       94     97
2    96       89     96
3    80       83     72
4    86       86     83

Write a Pandas program to create and display a DataFrame from a
specified dictionary data which has the index labels

In [5]:
import pandas as pd
import numpy as np

In [10]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
index_values = ["A",'B','C','D','E','F','G','H','I','J']

df = pd.DataFrame(exam_data,index=index_values)
df

        name  score  attempts qualify
A  Anastasia   12.5         1     yes
B       Dima    9.0         3      no
C  Katherine   16.5         2     yes
D      James    NaN         3      no
E      Emily    9.0         2      no
F    Michael   20.0         3     yes
G    Matthew   14.5         1     yes
H      Laura    NaN         1      no
I      Kevin    8.0         2      no
J      Jonas   19.0         1     yes

 Write a Pandas program to get the first 3 rows of a given DataFrame

In [11]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily','Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

df = pd.DataFrame(exam_data)
print("First three row of data")
df.head(3)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

Write a Pandas program to select the 'name' and 'score' columns
 from the following DataFrame

In [17]:
 exam_data = {
     'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily','Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
     'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
     'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
     'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
 }

df = pd.DataFrame(exam_data)
# print(df)

df[["name","score"]]

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
3      James    NaN
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
7      Laura    NaN
8      Kevin    8.0
9      Jonas   19.0